VITE_API_URL=http://localhost:3000
VITE_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
VITE_IPFS_GATEWAY=.........................................
AMOY_RPC_URL=.........................................
PRIVATE_KEY=.............................................
POLYGONSCAN_API_KEY.................................
