PORT=5000
PRIVATE_KEY=0xYourPrivateKeyHere
RPC_URL=https://polygon-amoy.g.alchemy.com/v2/JEYwf1ND3mtjIMov7uyhE
CONTRACT_ADDRESS=0xYourContractAddressHere
PINATA_API_KEY=YourPinataApiKey
PINATA_SECRET_KEY=YourPinataSecretKey
PINATA_JWT=YourPinataJWT
